{
	"compatible_types" : [
		"alienrock","ash","biorock","biorock2","blaststone","bonematerial","brainsblock","clay",
		"cloudblock","cobblestone","cobblestonematerial","corruptdirt","crystalblock","deadcore","dermisblock","direstone",
		"dirt","dirtmaterial","drydirt","drysand","eyepiles","fleshblock","floweryblock","frozendirt","frozenwater",
		"geodeblock","geodestone","grassy","grassyrock","gravel","gravelmaterial","hellstone","hive","ice","jellyblock",
		"junk","junktech","limestone","log","magmarock","meteoriterock","moondust","moonrock","moonstone",
		"mossypackeddirt","mud","obsidian","petalblock","plantmatter","purplecrystal","reeds","sand",
		"sand2","sandstone01","sandstonematerial","sewage","shroomblock","slime","slush","snow","spidersilkblock",
		"stomachblock","stonerubble","tar","vine","waste","wetdirt",
		"liquidfuel","liquidhealing","liquidlava","liquidmilk","liquidpoison","liquidslime","swampwater","liquidoil","liquidwater",
		"rock01","rock02","rock03","rock04","rock12","rock14","rock6","rock17","rock19","rock9"
	],
	"drop_tables" : {
		"alienrock" : {
			"chance_none" : 15,
			"drop_comm" : [ "greenslime", "cellmatter", "biosample", "liquidpoison" ],
			"drop_rare" : [ "venomsample", "staticcell" ]
		},
		"ash" : {
			"chance_none" : 22,
			"drop_comm" : [ "money", "coalore", "plantfibre", "string", "wire" ],
			"drop_rare" : [ "copperore", "ironore" ]
		},
		"biorock" : {
			"chance_none" : 12,
			"drop_comm" : [ "glowfibre", "petalyellow", "crystal", "liquidwater" ],
			"drop_rare" : [ "staticcell", "scorchedcore", "neonmelonseed" ]
		},
		"biorock2" : {
			"chance_none" : 12,
			"drop_comm" : [ "glowfibre", "petalblue", "crystal", "liquidwater" ],
			"drop_rare" : [ "staticcell", "cryonicextract", "neonmelonseed" ]
		},
		"blaststone" : {
			"chance_none" : 9,
			"drop_comm" : [ "coalore", "ironore", "tungstenore", "corefragmentore", "liquidlava" ],
			"drop_rare" : [ "scorchedcore", "diamond" ]
		},
		"bonematerial" : {
			"chance_none" : 20,
			"drop_comm" : [ "bone" ],
			"drop_rare" : [ "sharpenedclaw", "hardenedcarapace", "bonebooseed" ]
		},
		"brainsblock" : {
			"chance_none" : 15,
			"drop_comm" : [ "fleshstrand", "biosample" ],
			"drop_rare" : [ "leather" ]
		},
		"clay" : {
			"chance_none" : 22,
			"drop_comm" : [ "liquidwater" ],
			"drop_rare" : [ "copperore", "ironore" ]
		},
		"cloudblock" : {
			"chance_none" : 0,
			"drop_comm" : [ "liquidwater" ],
			"drop_rare" : [ "liquidwater" ]
		},
		"cobblestone" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"cobblestonematerial" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"rock01" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"rock02" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"rock03" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"rock04" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"rock12" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"rock14" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"rock6" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"rock17" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"rock19" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"rock9" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"liquidfuel" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "crystalfuel", "toxicwaste" ],
			"drop_rare" : [ "plutoniumore", "liquidwater" ]
		},
		"liquidhealing" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "liquidwater", "ironore" ],
			"drop_rare" : [ "crystal" ]
		},
		"liquidoil" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "coalore"],
			"drop_rare" : [ "liquidwater", "bone" ]
		},
		"liquidlava" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore", "durasteelore" ]
		},
		"liquidmilk" : {
			"chance_none" : 15,
			"drop_comm" : [ "liquidwater" ],
			"drop_rare" : [ "milk", "cheese" ]
		},
		"liquidpoison" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "toxicwaste", "liquidwater" ],
			"drop_rare" : [ "uraniumore", "plutoniumore", "biosample" ]
		},
		"liquidslime" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "greenslime", "liquidwater" ],
			"drop_rare" : [ "endomorphicjelly" ]
		},
		"swampwater" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "liquidwater", "mud" ],
			"drop_rare" : [ "livingroot" ]
		},
		"liquidwater" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "plantfibre" ],
			"drop_rare" : [ "dirtmaterial", "copperore", "ironore" ]
		},
		"corruptdirt" : {
			"chance_none" : 15,
			"drop_comm" : [ "fleshstrand", "biosample" ],
			"drop_rare" : [ "leather" ]
		},
		"crystalblock" : {
			"chance_none" : 12,
			"drop_comm" : [ "crystal" ],
			"drop_rare" : [ "cryonicextract", "staticcell" ]
		},
		"deadcore" : {
			"chance_none" : 0,
			"drop_comm" : [ "corefragmentore", "liquidlava" ],
			"drop_rare" : [ "titaniumore", "durasteelore", "diamond" ]
		},
		"dermisblock" : {
			"chance_none" : 12,
			"drop_comm" : [ "biosample", "cellmatter", "fleshstrand", "bone" ],
			"drop_rare" : [ "venomsample", "phasematter" ]
		},
		"direstone" : {
			"chance_none" : 9,
			"drop_comm" : [ "larva", "greenslime", "liquidpoison" ],
			"drop_rare" : [ "silk", "venomsample" ]
		},
		"dirt" : {
			"chance_none" : 25,
			"drop_comm" : [ "plantfibre", "petalred", "petalyellow", "petalblue", "bone", "liquidwater" ],
			"drop_rare" : [ "potatoseed", "cornseed", "riceseed", "pearlpeaseed", "carrotseed" ]
		},
		"dirtmaterial" : {
			"chance_none" : 25,
			"drop_comm" : [ "plantfibre", "petalred", "petalyellow", "petalblue", "bone", "liquidwater" ],
			"drop_rare" : [ "potatoseed", "cornseed", "riceseed", "pearlpeaseed", "carrotseed" ]
		},
		"drydirt" : {
			"chance_none" : 25,
			"drop_comm" : [ "plantfibre", "petalred", "petalyellow", "petalblue", "bone" ],
			"drop_rare" : [ "potatoseed", "cornseed", "riceseed", "pearlpeaseed", "carrotseed" ]
		},
		"drysand" : {
			"chance_none" : 21,
			"drop_comm" : [ "money", "liquidoil", "ironore" ],
			"drop_rare" : [ "goldore", "diamond" ]
		},
		"eyepiles" : {
			"chance_none" : 15,
			"drop_comm" : [ "biosample", "cellmatter", "fleshstrand" ],
			"drop_rare" : [ "phasematter" ]
		},
		"fleshblock" : {
			"chance_none" : 20,
			"drop_comm" : [ "fleshstrand" ],
			"drop_rare" : [ "leather", "pussplumseed", "wartweedseed" ]
		},
		"floweryblock" : {
			"chance_none" : 6,
			"drop_comm" : [ "petalred", "petalyellow", "petalblue", "bone" ],
			"drop_rare" : [ "livingroot" ]
		},
		"frozendirt" : {
			"chance_none" : 25,
			"drop_comm" : [ "liquidwater" ],
			"drop_rare" : [ "eggshootseed", "oculemonseed", "sugarcaneseed", "cryonicextract" ]
		},
		"frozenwater" : {
			"chance_none" : 0,
			"drop_comm" : [ "liquidwater" ],
			"drop_rare" : [ "liquidwater" ]
		},
		"geodeblock" : {
			"chance_none" : 6,
			"drop_comm" : [ "crystal", "prisiliteore", "money" ],
			"drop_rare" : [ "diamond" ]
		},
		"geodestone" : {
			"chance_none" : 6,
			"drop_comm" : [ "crystal", "prisiliteore", "money" ],
			"drop_rare" : [ "diamond" ]
		},
		"grassy" : {
			"chance_none" : 12,
			"drop_comm" : [ "money", "copperore", "ironore", "plantfibre", "petalred", "petalyellow", "petalblue" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore", "livingroot" ]
		},
		"grassyrock" : {
			"chance_none" : 12,
			"drop_comm" : [ "money", "copperore", "ironore", "plantfibre", "petalred", "petalyellow", "petalblue" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore", "livingroot" ]
		},
		"gravel" : {
			"chance_none" : 25,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"gravelmaterial" : {
			"chance_none" : 25,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"hellstone" : {
			"chance_none" : 9,
			"drop_comm" : [ "larva", "greenslime", "fleshstrand" ],
			"drop_rare" : [ "silk", "venomsample" ]
		},
		"hive" : {
			"chance_none" : 9,
			"drop_comm" : [ "larva", "greenslime", "liquidpoison" ],
			"drop_rare" : [ "silk", "venomsample" ]
		},
		"ice" : {
			"chance_none" : 15,
			"drop_comm" : [ "liquidwater" ],
			"drop_rare" : [ "liquidwater", "cryonicextract" ]
		},
		"jellyblock" : {
			"chance_none" : 6,
			"drop_comm" : [ "greenslime", "liquidpoison", "cellmatter", "fleshstrand" ],
			"drop_rare" : [ "venomsample", "livingroot", "phasematter" ]
		},
		"junk" : {
			"chance_none" : 15,
			"drop_comm" : [ "wire", "ironore", "copperore", "glass" ],
			"drop_rare" : [ "battery", "smallbattery", "stickofram", "siliconboard" ]
		},
		"junktech" : {
			"chance_none" : 15,
			"drop_comm" : [ "wire", "ironore", "copperore", "glass" ],
			"drop_rare" : [ "battery", "smallbattery", "stickofram", "siliconboard" ]
		},
		"limestone" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"log" : {
			"chance_none" : 0,
			"drop_comm" : [ "coalore" ],
			"drop_rare" : [ "coalore" ]
		},
		"magmarock" : {
			"chance_none" : 6,
			"drop_comm" : [ "liquidlava", "ironore" ],
			"drop_rare" : [ "scorchedcore" ]
		},
		"meteoriterock" : {
			"chance_none" : 6,
			"drop_comm" : [ "copperore", "ironore", "silverore", "tungstenore" ],
			"drop_rare" : [ "titaniumore", "durasteelore", "goldore", "diamond" ]
		},
		"moondust" : {
			"chance_none" : 22,
			"drop_comm" : [ "money", "solidfuel", "liquidfuel" ],
			"drop_rare" : [ "phasematter" ]
		},
		"moonrock" : {
			"chance_none" : 20,
			"drop_comm" : [ "money", "solidfuel", "liquidfuel" ],
			"drop_rare" : [ "phasematter" ]
		},
		"moonstone" : {
			"chance_none" : 12,
			"drop_comm" : [ "money", "solidfuel", "liquidfuel" ],
			"drop_rare" : [ "phasematter" ]
		},
		"mossypackeddirt" : {
			"chance_none" : 20,
			"drop_comm" : [ "plantfibre", "petalred", "petalyellow", "petalblue" ],
			"drop_rare" : [ "livingroot" ]
		},
		"mud" : {
			"chance_none" : 25,
			"drop_comm" : [ "plantfibre", "petalred", "petalyellow", "petalblue", "liquidwater" ],
			"drop_rare" : [ "bananaseed", "kiwiseed", "pineappleseed", "avesmingoseed", "cottonseed" ]
		},
		"obsidian" : {
			"chance_none" : 6,
			"drop_comm" : [ "liquidlava", "glass", "crystal" ],
			"drop_rare" : [ "scorchedcore" ]
		},
		"petalblock" : {
			"chance_none" : 3,
			"drop_comm" : [ "petalred", "petalyellow", "petalblue", "giantflowerpetal" ],
			"drop_rare" : [ "livingroot" ]
		},
		"plantmatter" : {
			"chance_none" : 9,
			"drop_comm" : [ "plantfibre", "petalred", "petalyellow", "petalblue", "giantflowerpetal" ],
			"drop_rare" : [ "livingroot" ]
		},
		"purplecrystal" : {
			"chance_none" : 6,
			"drop_comm" : [ "crystal" ],
			"drop_rare" : [ "phasematter" ]
		},
		"reeds" : {
			"chance_none" : 12,
			"drop_comm" : [ "reed", "plantfibre" ],
			"drop_rare" : [ "livingroot" ]
		},
		"sand" : {
			"chance_none" : 21,
			"drop_comm" : [ "money", "liquidoil", "ironore" ],
			"drop_rare" : [ "goldore", "diamond" ]
		},
		"sand2" : {
			"chance_none" : 21,
			"drop_comm" : [ "money", "liquidoil", "ironore" ],
			"drop_rare" : [ "goldore", "diamond" ]
		},
		"sandstone01" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore" ],
			"drop_rare" : [ "goldore", "diamond" ]
		},
		"sandstonematerial" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore" ],
			"drop_rare" : [ "goldore", "diamond" ]
		},
		"sewage" : {
			"chance_none" : 15,
			"drop_comm" : [ "toxicwaste", "greenslime", "liquidpoison", "biosample" ],
			"drop_rare" : [ "venomsample", "toxictopseed", "dirturchinseed", "wartweedseed" ]
		},
		"shroomblock" : {
			"chance_none" : 12,
			"drop_comm" : [ "shroom", "plantfibre" ],
			"drop_rare" : [ "livingroot" ]
		},
		"slime" : {
			"chance_none" : 15,
			"drop_comm" : [ "greenslime", "liquidslime", "cellmatter" ],
			"drop_rare" : [ "venomsample" ]
		},
		"slush" : {
			"chance_none" : 15,
			"drop_comm" : [ "liquidwater" ],
			"drop_rare" : [ "liquidwater", "cryonicextract" ]
		},
		"snow" : {
			"chance_none" : 15,
			"drop_comm" : [ "liquidwater" ],
			"drop_rare" : [ "liquidwater", "cryonicextract" ]
		},
		"spidersilkblock" : {
			"chance_none" : 0,
			"drop_comm" : [ "silk" ],
			"drop_rare" : [ "silk" ]
		},
		"stomachblock" : {
			"chance_none" : 15,
			"drop_comm" : [ "biosample", "cellmatter", "fleshstrand", "liquidpoison" ],
			"drop_rare" : [ "venomsample" ]
		},
		"stonerubble" : {
			"chance_none" : 15,
			"drop_comm" : [ "money", "copperore", "ironore" ],
			"drop_rare" : [ "tungstenore", "corefragmentore", "titaniumore" ]
		},
		"tar" : {
			"chance_none" : 20,
			"drop_comm" : [ "liquidoil", "bone", "coalore" ],
			"drop_rare" : [ "bonebooseed", "scorchedcore" ]
		},
		"vine" : {
			"chance_none" : 3,
			"drop_comm" : [ "plantfibre" ],
			"drop_rare" : [ "livingroot" ]
		},
		"waste" : {
			"chance_none" : 12,
			"drop_comm" : [ "toxicwaste", "greenslime", "liquidpoison" ],
			"drop_rare" : [ "venomsample", "toxictopseed" ]
		},
		"wetdirt" : {
			"chance_none" : 25,
			"drop_comm" : [ "plantfibre", "petalred", "petalyellow", "petalblue", "liquidwater" ],
			"drop_rare" : [ "coralcreepseed", "reefpodseed", "pearlpeaseed" ]
		}
	}
}
