{
	"converse": {
		"default": {
			"default" : [
				"Stars whisper... Stars sing...",
				"Eiyillaman Semur'senn!",
				"It's sad we can't bring these guns home. I made mine a different gem!",
				"Oh my, I did scratch the armor?",
				"Listens to the birds singing, look at the flowers blooming...",
				"Don't ask me, I'm just a cadet.",
				"Humans spend too much on equipment and too small on training.",
				"Can I hug you? Just lemme put off the armor.",
				"It's sad you live shorter compared to us"
			],
			"apex": [
				"You have fur, just like us!",
				"Selamat djalan. Heard apexes fight each other.",
				"You have bigger fangs than humans... I suppose.",
				"Greetings, apex. Hope we will not cross blades today.",
				"Must be hard wearing both fur and warm.",
				"Sau 'elia ssa. You're not aligned to Miniknog?",
				"Ooh, I like that fur paint of yours.",
				"Not all apexes are friends. Are you a friend?"
			],
			"avian": [
				"Hi there, avian. How's the wind?",
				"Heard some of you are ready to die to defend their temples.",
				"Can your feathers be sharpened and used as blades?",
				"Sharp beak you have... I like it.",
				"While we have wings metaphorically, you have them physically.",
				"My friend fought for one of your kind's temples. He is impressed by your dedication to religion.",
				"Heard avians are great singers. Can I hear you sing?",
				"You're using betrayal quite rarely. Is it because of your religion?"
			],
			"glitch": [
				"Hello there, robotic person. How much tactical features does your body have?",
				"What were you initially created for? War?",
				"Your body composition is alike ours. The difference is electronics.",
				"These glowing eyes of yours are kind of entrancing.",
				"Can you hack into other devices?",
				"My uncle told me a human tale about Earth being taken over by robots like you.",
				"Ker'rin gena metmyar, safak elia.",
				"With that body weapons can be fused into you. No?"
			],
			"floran": [
				"Are you *snrk* a walking flower?",
				"As you say... Stab?",
				"Wanna see my spear? In exchange you will show me yours.",
				"Don't try to bite off my tail for its tip.",
				"That smile could creep out a human. Not a kyani, of course.",
				"Wanna have a bow shooting competition?",
				"A hylotl once told me your kinda almost killed all of theirs once. That's not true, right?",
				"It's easy for you to mix in with the jungle flora. One hell of a tactical advantage, in my opinion."
			],
			"hylotl": [
				"Aren't you supposed to be in the ocean? Hehe.",
				"Your kind abhors violence, almost ignoring the fact that it's required at a low amount.",
				"You're just like us, striving to new scientific breakthroughs.",
				"I was always amazed by how you craft your katanas.",
				"Hylotl spend a lot time honing their skills.",
				"Is your seeing better with 3 eyes than with 2?",
				"Do you have some books about us? Heard your kind has books for everything.",
				"What is real art, hylotl?"
			],
			"novakid": [
				"You're just like a star...",
				"I was always curious about how your kind began.",
				"You like pistols, right?",
				"Yee-haw! Heh heh.",
				"Bright head you have here.",
				"How does all this stuff composing you keep together?",
				"Greetings, star-like person.",
				"Al-asau sahh."
			],
			"kyani" : [
				"Ir'rrunin kamarhann!",
				"You got a gun too? Awesome!",
				"I got a fire range pass. Wanna have fun?",
				"It's hard to control these territories. I wish it'd be easier to get more food...",
				"Last time I tried a human fruit called pineapple. Don't know why humans find it acidic.",
				"It's sad, but war has become a necessary thing ever since we got here.",
				"I stepped in a pond without my pawpads on. Now it hurts.",
				"I want fur like yours. -w-",
				"I once played Robin Hood with a Glitch. It was fun till I got an arrow in my butt. -w-",
				"I never got to use my gun. This isn't mine."
			]
		}
	},
	"accuse": {
		"default": {
			"default": [
				"You better stop this...",
				"I do not approve this kind of behaviour.",
				"This. Is. Not. Yours.",
				"Ahem..."
			]
		}
	},
	"alert": {
		"default": {
			"default": [
				"You're going down!",
				"Burn in hell!",
				"I felt this was inevitable..,"
			]
		}
	},
	"tagCriteria": {
		"default": {
			"default": [
				"I could use a paw here...",
				"I require some help with this.",
				"My home doesn't feel mine anymore."
			]
		}
	},
	"enclosedArea": {
		"default": {
			"default": [
				"Broken walls aint good.",
				"My house is not safe like that...",
				"I demand a repair here!"
			]
		}
	},
	"otherDeed": {
		"default": {
			"default": [
				"Should have asked me about that...",
				"No and no. I'm not ready to share my room with someone else."
			]
		}
	},
	"severe": {
		"default": {
			"default": [
				"This is unacceptable!",
				"It can not be like that... Fix this please!",
				"Is this your opinion of me..?"
			]
		}
	},
	"final": {
		"default": {
			"default": [
				"I can't tolerate this! Good luck!",
				"This cannot go on! Farewell!"
			]
		}
	},
	"beacon": {
		"default": {
			"default": [
				"What is it?",
				"You called?",
				"Greetings. How may I help?",
				"You need a hand?",
				"Howdy. Can I help?",
				"What am I needed for?",
				"Hello, I'm listening."
			]
		}
	},
	"rent": {
		"default": {
			"default": [
				"This home is good. Here, have this.",
				"Your help worth a compensation.",
				"Skies blessed you for your kindness towards me.",
				"Here, thank you for aiding me.",
				"Myeha'kan, san'maa vyi.",
				"Here's something for your troubles",
				"Hey, here's a little something for you.",
				"Here's a little thank you gift for you.",
				"I'm very grateful for your service!"
			]
		}
	},
	"reattack": {
		"default": {
			"default": [
				"And you're back! Let's finish this!",
				"And so we cross blades again, ha ha!",
				"You rejected the mercy the fate gave you!",
				"Time to solve this once and for all!",
				"Henk'amar senn!"
			]
		}
	},
	"attack": {
		"default": {
			"default": [
				"You should not have done that!",
				"Time to finish this.",
				"You have as much chances against me as a kestrel against a volcano!",
				"I'm not much of a fighter...",
				"Uh-oh...",
				"Damn it...",
				"Aaaaa! Take cover!",
				"Meh'rabuhan kaunan!",
				"Be warned, I put up a fight!",
				"Let's do this.",
				"That was a bad choice."
			]
		}
	},
	"killedTarget": {
		"default": {
			"default": [
				"Never mess with me.",
				"Victory.",
				"Phew..",
				"Another victory.",
				"I didn't even break a sweat.",
				"Veni, vidi, vici.",
				"Of course I won.",
				"That was inevitable.",
				"That was stressful...",
				"Another defeated adversary.",
				"Yes!",
				"That's what you get."
			]
		}
	},
	"lostTarget": {
		"default": {
			"default": [
				"Stars will finish what I didn't...",
				"It's not over.",
				"Do not return!",
				"Alright, that might be a better solution...",
				"What a hassle.",
				"You are not safe forever!"
			]
		}
	},
	"outOfSight": {
		"default": {
			"default": [
				"We have not finished! Stop hiding!",
				"Ugh, where the hell are you?",
				"Smart, avoiding the stronger foe..."
			]
		}
	},
	"cantReach": {
		"default": {
			"default": [
				"Come back here, cowardice deserves no respect!",
				"You may have the distance, but you're not safe!"
			]
		}
	},
	"cheerOn": {
		"default": {
			"default": [
				"Go go go! You can do it!",
				"You will succeed! Stars are on your side, just like me!",
				"Just do it!"
			]
		}
	},
	"helpme": {
		"default": {
			"default": [
				"No no no no no no!",
				"Time to scram!",
				"No one will leave this unpunished!",
				"I'm unarmed! Stop!",
				"I need backup!",
				"Cas'myarr a-arrah!",
				"What? Dammit!"
			]
		}
	},
	"helpthem": {
		"default": {
			"default": [
				"Killing the weak is not alright! Help them!",
				"Somebody help them! Injustice isn't right!"
			]
		}
	},
	"encourage": {
		"default": {
			"default": [
				"Go go go! You can do this!",
				"Win it! Make the stars proud!",
				"Take them out! You can do this!"
			]
		}
	},
	"safe": {
		"default": {
			"default": [
				"Thank stars I'm safe...",
				"This was just horrific...",
				"and yet, life goes on.",
				"Awuaran mar'ha."
			]
		}
	}
}