{
	"converse": {
		"default": {
			"default": [
				"Hello. What brought you here?",
				"Without a doubt you like travelling.",
				"Satrah'mah ranh magkh.",
				"Which songs of your people do you know?",
				"Life aboard a spaceship... I like it.",
				"Sorry, I'm busy right now.",
				"Kun'lau sgrehha rra.",
				"You look like a smart type."
			],
			"apex": [
				"You have fur, just like us!",
				"Sen'banar kem. You're looking just like humans.",
				"You're a human, but with more fur. Definitely better in my opinion!",
				"Hello, apex. How's the weeather today?",
				"Why are you wearing shoes if you have fur?",
				"Kefanar ger'mi heleos.",
				"Ooh, I like that fur paint of yours.",
				"Nice beard. These are one of things you have in common with humans."
			],
			"avian": [
				"Hi there, avian. How's the wind?",
				"I heard you believe in a god... Care to tell me more?",
				"Are these feathers comfortable to wear?",
				"This beak of yours looks beautiful, but kind of impractical...",
				"A bird person? Just like from these legends of ours!",
				"It's sad you can't really fly...",
				"Heard avians are great singers. Can I hear you sing?",
				"Kepar'imak hel Vanat."
			],
			"glitch": [
				"Oh, a robotic person! Are you an android? No?",
				"I heard a group of humans created your species.",
				"Your body composition is alike ours. The difference is electronics.",
				"Can your eyes act as spotlights?",
				"Metal body without fur. Not kyani.",
				"A robot that acts and thinks like a human? That's quite unusual.",
				"Ker'rin gena metmyar.",
				"You're one of the most hi-tech robots I have seen."
			],
			"floran": [
				"Are you *snrk* a walking flower?",
				"Hema rranmr kwuin.",
				"Your petals are quite exquisite in color.",
				"You must like sitting out there under the sun.",
				"That smile could creep out a human. Not a kyani, of course.",
				"Heard your kind likes melee weapons. Spear or sword?",
				"A human told me once that a Floran smile is creepy.",
				"I'm pretty sure that you can easily disguise as a plant."
			],
			"hylotl": [
				"Aren't you supposed to be in the ocean? Hehe.",
				"If I were more feline, I'd bite you. Thankfully, I'm not.",
				"You're just like us, striving to new scientific breakthroughs.",
				"Care to do calligraphy together some time?",
				"you like sushi? That's... hard to understand.",
				"Is your seeing better with 3 eyes than with 2?",
				"How many books have you read? I bet you read just as many as I did.",
				"Heard you make everything a form of art."
			],
			"novakid": [
				"You're just like a star...",
				"It must be hard to hide with all this glow.",
				"You like pistols, right?",
				"Are you sure you're not akin to stars?",
				"You must have a bright life, such as yourself.",
				"I'm not sure how you wear clothes of flammable materials safely.",
				"Greetings, star-like person.",
				"Kier-ram sat tammai."
			],
			"kyani": [
				"Kivanin astapar, gheruniam?",
				"What's up, friend?",
				"Pleasure to meet one of my kin.",
				"I'm glad we're able to stay out of most armed conflicts.",
				"Juroniankind is only a guest in this universe.",
				"Our entire life is travel. Travel to success, travel through time...",
				"Humans think their ships are better. Ha ha ha!",
				"Stars welcome every one of us.",
				"Kivanin astapar, gheruniam?",
				"Sammar nik malaki?",
				"You were in the Terrene Protectorate? I worked there one year ago.",
				"Row, row, row your boat~... Huh?",
				"I've made so much stuff... I bet you did too.",
				"My home is where my work is.",
				"Believe me or not, humans think they can tell us how to do our work. Hmph!",
			]
		}
	},
	"accuse": {
		"default": {
			"default": [
				"Stealing is not approved anywhere!",
				"This is a disgusting act.",
				"Stop this, immediately!",
				"You will be sought after for doing that."
			]
		}
	},
	"alert": {
		"default": {
			"default": [
				"Guards! Take care of this criminal!",
				"You have to be stopped!",
				"This cannot be tolerated!"
			]
		}
	},
	"tagCriteria": {
		"default": {
			"default": [
				"Is something broken in my house? Oh noes...",
				"I can't live with that. Please, fix it.",
				"My home doesn't feel mine anymore."
			]
		}
	},
	"enclosedArea": {
		"default": {
			"default": [
				"The walls are damaged, this has to be fixed.",
				"My house is not safe like that...",
				"This demands a fix!"
			]
		}
	},
	"otherDeed": {
		"default": {
			"default": [
				"I'm not ready to share my home with someone else...",
				"This is my private zone, no one else is allowed to live here."
			]
		}
	},
	"severe": {
		"default": {
			"default": [
				"This is unacceptable!",
				"It's more than just annoying. I need help with this!",
				"These conditions are defenitely not for me."
			]
		}
	},
	"final": {
		"default": {
			"default": [
				"This home is beyond just awful! I'm leaving this!",
				"This cannot go on! Farewell!"
			]
		}
	},
	"beacon": {
		"default": {
			"default": [
				"Hello! Is there anything I can help you with?",
				"You called?",
				"Is there something you need?",
				"You wanna talk?",
				"Hi. What's up?",
				"You want something?",
				"Howdy, I'm listening."
			]
		}
	},
	"rent": {
		"default": {
			"default": [
				"This home is good. Here, have this.",
				"Your help worth a compensation.",
				"Skies blessed you for your kindness towards me.",
				"Here, thank you for aiding me.",
				"Myeha'kan, san'maa vyi.",
				"Here's something for your troubles",
				"Hey, here's a little something for you.",
				"Here's a little thank you gift for you.",
				"I'm very grateful for your service!"
			]
		}
	},
	"reattack": {
		"default": {
			"default": [
				"And you're back! Let's finish this!",
				"And so we cross blades again, ha ha!",
				"You rejected the mercy the fate gave you!",
				"Time to solve this once and for all!",
				"Henk'amar senn!"
			]
		}
	},
	"attack": {
		"default": {
			"default": [
				"You should not have done that!",
				"Time to finish this.",
				"You have as much chances against me as a kestrel against a volcano!",
				"I'm not much of a fighter...",
				"Uh-oh...",
				"Damn it...",
				"Aaaaa! Take cover!",
				"Meh'rabuhan kaunan!",
				"Be warned, I put up a fight!",
				"Let's do this.",
				"That was a bad choice."
			]
		}
	},
	"killedTarget": {
		"default": {
			"default": [
				"Never mess with me.",
				"Victory.",
				"Phew..",
				"Another victory.",
				"I didn't even break a sweat.",
				"Veni, vidi, vici.",
				"Of course I won.",
				"That was inevitable.",
				"That was stressful...",
				"Another defeated adversary.",
				"Yes!",
				"That's what you get."
			]
		}
	},
	"lostTarget": {
		"default": {
			"default": [
				"Stars will finish what I didn't...",
				"It's not over.",
				"Do not return!",
				"Alright, that might be a better solution...",
				"What a hassle.",
				"You are not safe forever!"
			]
		}
	},
	"outOfSight": {
		"default": {
			"default": [
				"We have not finished! Stop hiding!",
				"Ugh, where the hell are you?",
				"Smart, avoiding the stronger foe..."
			]
		}
	},
	"cantReach": {
		"default": {
			"default": [
				"Come back here, cowardice deserves no respect!",
				"You may have the distance, but you're not safe!"
			]
		}
	},
	"cheerOn": {
		"default": {
			"default": [
				"Go go go! You can do it!",
				"You will succeed! Stars are on your side, just like me!",
				"Just do it!"
			]
		}
	},
	"helpme": {
		"default": {
			"default": [
				"No no no no no no!",
				"Time to scram!",
				"No one will leave this unpunished!",
				"I'm unarmed! Stop!",
				"I need backup!",
				"Cas'myarr a-arrah!",
				"What? Dammit!"
			]
		}
	},
	"helpthem": {
		"default": {
			"default": [
				"Killing the weak is not alright! Help them!",
				"Somebody help them! Injustice isn't right!"
			]
		}
	},
	"encourage": {
		"default": {
			"default": [
				"Go go go! You can do this!",
				"Win it! Make the stars proud!",
				"Take them out! You can do this!"
			]
		}
	},
	"safe": {
		"default": {
			"default": [
				"Thank stars I'm safe...",
				"This was just horrific...",
				"and yet, life goes on.",
				"Awuaran mar'ha."
			]
		}
	}
}